{% extends 'crud/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="card w-50 mx-auto" >
        <img class="card-img-top" src="{{ user.profile.image.url }}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Name: <span>{{user.username}}</span></h4>
          <p class="card-text">Email: <span>{{user.email}}</span></p>
          <p>{{ user.image.url }}</p>
          <!-- <a href="" class="btn btn-primary">See Profile</a> -->
        </div>
      </div>


      <div class="mt-3 w-50 mx-auto">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-{{message.tags}} mx-auto">
                      {{message}}
                  </div>  
              {% endfor %}
          {% endif %}
      </div>
  
      <div class="card w-50 mx-auto text-dark mb-5">
          <div class="card-header bg-dark text-white">
                  <h3 class="font-weight-bolder">User Details Update</h3>
          </div>
          <div class="card-body">
              <form action="/profile/" method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      
                      {{user_form | crispy }}
                      {{profile_form | crispy }}
                  </fieldset>
  
                  <div class="form-group">
                          <input type="submit" class="btn btn-block btn-dark text-white font-weight-bold" value="Update">
                  </div>
              </form>
              
              
          </div>
          
        </div>
  
    
{% endblock %}